@use "mixins" as *;

.area {
  position: relative;
  width: $area-porta-largura;
  height: $area-porta-altura;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;

  .estrutura {
    display: flex;
    flex-grow: 1;
    border-left: 5px solid brown;
    border-top: 5px solid brown;
    border-right: 5px solid brown;
    width: 90%;
    background-color: #0005;

    .porta {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      background-color: $porta-cor;
      padding: 15px;

      .numero {
        font-size: 3rem;
      }

      .macaneta {
        position: absolute;
        top: 140px;
        align-self: flex-start;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        background-color: brown;
      }
    }
  }

  .chao {
    height: 10px;
    width: 100%;
    background-color: #ddd;
  }
}

.selecionada {
  border-left: 5px solid yellow !important;
  border-top: 5px solid yellow !important;
  border-right: 5px solid yellow !important;

  .numero {
    color: yellow !important;
  }

  .macaneta {
    background-color: yellow !important;
  }
}
